VITE_FIREBASE_API_KEY=AIzaSyDsu3YyrNnzWof9uVH-V4GmCY8tzLh9z8o
VITE_FIREBASE_AUTH_DOMAIN=vionix-finance.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vionix-finance
VITE_FIREBASE_STORAGE_BUCKET=vionix-finance.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=269010937122
VITE_FIREBASE_APP_ID=1:269010937122:web:4a14ac148a02461c37717b
